nav.navbar.navbar-expand.navbar-light.bg-light
    a.navbar-brand HW 13 my
    .navbar-nav.navbar-expand.mr-auto
        a.nav-item.nav-link(href='/') Home
            a.nav-item.nav-link(href='/other.html') Other