doctype html
html
    head
        meta(charset="UTF-8")
        title dropdown


        link(rel="stylesheet" type="text/css" href="/style/style.css")
        
        block head
    body
        
        block container
            block variables

        script(src="/js/dropdown.js")

        
        block body

